In [4]:
print("To get sum of two no. : ")
var1 = int(input("Enter your 1st Number: "))
var2 = int(input("Enter 2nd Number: "))
print("Sum is: ",var1 + var2)

To get sum of two no. :
Enter your 1st Number: 15
Enter 2nd Number: 20
Sum is:  35

In [7]:
#avg of three number
def avg(n1=0, n2=0, n3=0): #with default argument
    sum = n1+n2+n3
    print(sum/3)

avg(20,89,71)
avg(5,7)
avg()

60.0
4.0
0.0

**STRING**

In [8]:
s="Niraj Kumar"
type(s)

str

In [9]:
s[1]

'i'

In [10]:
s[-3]

'm'

In [11]:
#string slicing
print(s[1:5])
print(s[:5])
print(s[5:])
print(s[::-1]) #remember: s[::-1] isused to print string in reverse order.
print(s[-8:-3])

iraj
Niraj
 Kumar
ramuK jariN
aj Ku

In [12]:
string = input("Enter your string which you want to reverse: ")
print("Your reversed string is: ",string[::-1])

Enter your string which you want to reverse: LetsUpgrade Python Course
Your reversed string is:  esruoC nohtyP edargpUsteL

In [15]:
#program to perform various string functions
s1 = " Hello World"
s2 = " Machine Learning"
s3 = "Darshan"

print(s1+s2)

print(s1*3)
print(s2.swapcase())
print(s1.lower())
print(s2.upper())
print(max(s3)) # c works on ascii value of character whereas python has unicode for different characters.
print(min(s3))
print(s1.isdigit())
s4="an apple a day keeps the doctor away "
print(s4.capitalize()) #only first character of string becomes in upper case and others are changed to lower case
print(len(s4))
print(s4.replace('a','*'))

 Hello World Machine Learning
 Hello World Hello World Hello World
 mACHINE lEARNING
 hello world
 MACHINE LEARNING
s
D
False
An apple a day keeps the doctor away
37
*n *pple * d*y keeps the doctor *w*y

In [18]:
# 'in' and 'not in' operator (**Membership operator)
s = "Machine"
print('z' in s)
'M' in s

False

True

In [17]:
'M' not in s

False

In [31]:
#Traversal with for loop
st = "Niraj Kumar"
for i in st:
    if i==" ":
        print(" ",end="  ")
        continue
    print(i, end="_")

N_i_r_a_j_   K_u_m_a_r_

In [32]:
#Strings are immutable,means you can't change an existing string
st1 = "Darshan"
st1[0] = "Z"
print(st1)

TypeError: 'str' object does not support item assignment

In [39]:
#str.find(str,begin,end): find occurance at 1st time and return that index value
f="School of Engineering"
f.find('r',9,20) #if charecter is not found then it will return -1.

17

In [41]:
st2="csnirajvicky@gmail.com"
print(st2.isalpha())
print(st2.isdigit())

False
False

In [48]:
#palindrome
user_input = input("To Check String is palindrome, Enter your string: \n")
x=user_input.lower()
reversed_output = x[::-1]
if reversed_output==x:
    print(user_input," is a palindrome.")
else:
    print(user_input," is not palindrome.")

To Check String is palindrome, Enter your string:
1212121
1212121  is a palindrome.

Here Darshan is pointed at some memory location by st3 and as we use replace function it changes its pointing memory location to another location with replaced string however original strings exists till yet and not pointed by any variable to that original string location so that that location becomes orphan and permanently deleted by garbage collector of python.

In [50]:
#how replace function works when we know that strings are immutable in nature?
st3="Darshan"
#st3[0]='Y' #it will throw error
#expected output is Yarshan
st4 = 'Y'+st3[1:]
print(st4)

Yarshan

In [53]:
#List:collections of variables (can be different data type) enclosed in square braces.
st = [1, 30.14, "Corona Virus"]
print(st)
type(st)
#list supports indexing.
st6 = ['a', 'b', 'c', 'd', 'e']
print(st6[0])
print(st6[3])
print(st6[-1])
print('A' in st6)
print('a' in st6)

[1, 30.14, 'Corona Virus']
a
d
e
False
True

lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement

In [55]:
st7= ['A','B','C','D','E']
print(st7)
print()
st7[2] = 88
print(st7)

['A', 'B', 'C', 'D', 'E']

['A', 'B', 88, 'D', 'E']

In [56]:
'B' in st7

True

In [57]:
'C' in st7

False

In [65]:
#List of Lists
list_ = [1,2,[100,200,300],22.4,"niraj",[99,100,[44,55,"Kumar"]],76]
print(list_[-2][-1][-1][0])

K

In [66]:
list_.remove(2)
print(list_)

[1, [100, 200, 300], 22.4, 'niraj', [99, 100, [44, 55, 'Kumar']], 76]

In [67]:
del list_[3]

print(list_)

[1, [100, 200, 300], 22.4, [99, 100, [44, 55, 'Kumar']], 76]

In [68]:
#concatenation
l1=[1,2,3,4]
l2=[99,88,77,66]
l1+l2

[1, 2, 3, 4, 99, 88, 77, 66]

**Traversing a list**

In [69]:
names=["Niraj","Software Developer","Machine learning and Deep learning"]
for i in names:
    print(i)

Niraj
Software Developer
Machine learning and Deep learning

In [70]:
#pop Method

s=[1,2,3,4,5,6,7,8,9,55,44]
s.pop()

44

In [71]:
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 55]

In [72]:
s.pop(3)

4

In [73]:
print(s)

[1, 2, 3, 5, 6, 7, 8, 9, 55]

In [75]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777) #every thing attached in last
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

In [76]:
# * means repetition
[0]*5

[0, 0, 0, 0, 0]

In [77]:
[1, "lets Upgrade", 5]*3

[1, 'lets Upgrade', 5, 1, 'lets Upgrade', 5, 1, 'lets Upgrade', 5]

**Tuples**
>Tuple is similar to a list but it is immutable in nature.

>each elements or value inside the tuple is called an item.

>it is defined inside small braces.

In [1]:
tup = ('y', 'v','angle')
t=()
print(tup)
print(type(tup))
print()
print(t)
print(type(t))

('y', 'v', 'angle')
<class 'tuple'>

()
<class 'tuple'>